*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 25px;
}

.btn-size {
    width: 45px;
    height: 45px;
}

.completed {
    text-decoration: line-through;
}

.checked {
    background-color: green;
}